.services-section{
    background: var(--color4);
    padding: 4em 0;
}
.services-section h2{
    text-align: center;
    font-size: 3em;
    color: var(--color1);
}

.services-section .services-icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 18em;
    text-align: center;
    gap: 2em;
}
.services-section .services-icon .caja{
    border: 1px solid white;
    border-radius: 20px;
    background: white;
    box-shadow: 0.1px 0.5px 10px 1px rgba(191, 191, 191, 0.516);
    padding: 2em;
    text-align: start;
    
}
.services-section .services-icon .caja h3{
    color: var(--color1);
}

.fa-receipt, .fa-certificate, .fa-people-carry-box,
.fa-ring, .fa-building, .fa-check{
    padding: 15px;
    background: var(--color4);
    font-size: 2.5em;   
    border-radius: 15px;
    
}


@media (max-width: 1024px) {
    .services-section{
        background: var(--color4);
        padding: 2em 0;
    }
    .services-section .services-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0 3em;
        text-align: center;
        gap: 2em;
    }
}
@media (max-width: 426px){
    .services-section{    
        padding: 1em 0;
    }
    .services-section h2{
        font-size: 2em;
    }
    .services-section .services-icon{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0 3em;
        text-align: center;
        gap: 2em;
    }
}
