/* ****************** FOOTER ***************+ */

.containerFooter{
    width: 100%;
    height: 300px;
    background: var(--color1);
    color: var(--color4);
    display: flex;
    flex-direction: column;
}
.containerFooter .content{
    display: flex;
    justify-content: space-around;

}

/* ****************** CONTACTO ****************/

.containerFooter .content .email a{
    color: var(--color4);
    text-decoration: none;
}
.containerFooter .content .ubicacion a{
    color: var(--color4);
    text-decoration: none;
}
.containerFooter .content .redesSociales{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    
    
}

.containerFooter .content .redesSociales a{
    color: var(--color4);
    text-decoration: none;

    
    
}
.fa-location-dot, .fa-phone, .fa-envelope, .fa-calendar-days, .fa-instagram{
    margin-right: 10px;
}


/* ******************otros links ****************/


.containerFooter .content .otrosLinks{  
    color: var(--color4);

}
.containerFooter .content .otrosLinks li a{
    color: var(--color4);
    text-decoration: none;

}
.derechosAutor{ 
    text-align: center;
    background: var(--color1);
    color: var(--color4);
    font-size: 0.8rem;
}
.derechosAutor p a{
    margin-left: 10px;
    color: var(--color4);

}
@media (max-width:526px) {
    .containerFooter{
         height: 700px;
        
    }
    .containerFooter .content{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 30px;
    
    }  
}