.faq-section{
    width: 100%;
}


.faq-container {
    display: flex;
    max-width: 900px;
    margin: 4em auto;
}
.faq-content{
    display: flex;
    padding: 20px;
}
/* left */
.left-content{
    width: 50%;
    padding: 0 3em;
}
.left-content h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.left-content p{
    font-size: 0.9em;
}
/* right */
.right-content{
    width: 50%;
    padding: 0 3em;
}

.faq {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color1);
    margin-bottom: 10px;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3s ease;

}

.faq:hover {
    background-color: #f1f1f1;
}

 .faq-question {
    width: 300px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.faq-question h3{
    font-size: 0.9em;
}


.faq-answer {
    margin-top: 10px;
    color: #666;
    display: block;
    font-size: 0.8em;
} 
.faq-answer-hiden{
    display: none;
}

@media (max-width: 1200px) {
    /* perfect */
}
@media (max-width: 1000px) {
    /* perfect */
}
@media (max-width: 800px) {
    .faq-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }
}
@media (max-width: 600px) {
    .left-content{
        width: 100%;
        padding: 0em;
    }
    /* right */
    .right-content{
        width: 100%;
        padding: 0em;
    }
}
@media (max-width: 400px) {
    .left-content{
        padding: 0;
    }
    /* right */
    .right-content{
        padding: 0px;
    }
    .faq-container {
        margin: 0 auto;
    }
    .faq-question h3{
        font-size: 0.8em;
    }
    
    
    .faq-answer {
        font-size: 0.7em;
    } 
    .faq-content{
        padding: 0px;
    }
}

