.gallery-section{
    width: 100%; 
    
  }
  
 .gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
  }
  
  .gallery-content {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 350px 350px 350px ;
    grid-template-rows:  350px 350px 350px;
    gap: 20px;
   
    
  }
  
  .imagenesGallery{
    width: 100%;
    height: 350px;
    object-fit: cover;
    padding: 1.5em 0.5em;
    border-radius: 40px;
    transition: 0.5s ease all;
    
  }
  .imagenesGallery:hover{
    scale: 1.05;
  }

  
    .gallery-introduction{
      padding: 2em;
  
    }

  
  .gallery-introduction h3{
    font-size: 3em;
    color: var(--color1);
  }
  .gallery-introduction p{
    font-size: 1.5em;
    
  }

@media (max-width:1200px) {
  .gallery-content {
    grid-template-columns: 300px 300px 300px ;
    grid-template-rows:  300px 300px 300px;
   
    
  }
  .imagenesGallery{
    width: 100%;
    height: 300px;
    padding: 1.5em 0.5em;
   
    
  }
  .gallery-introduction h3{
    font-size: 2em;
  }
  .gallery-introduction p{
    font-size: 1.2em;
    
  }
  
}
@media (max-width:1000px) {
  .gallery-content {
    grid-template-columns: 300px 300px;
    grid-template-rows:  300px 300px 300px;
   
    
  }
}
@media (max-width:800px) {
  .gallery-content {
    grid-template-columns: 250px 250px;
    grid-template-rows:  280px 280px 280px;
    gap: 30px;
   
    
  }
}
@media (max-width:600px) {
  .gallery-content {
    grid-template-columns: 320px;
   
   
    
  }
}
@media (max-width:400px) {
  .gallery-content {
    grid-template-columns: 280px;
    
   
    
  }
}



