/* container */
.navbar-container{
    position: fixed;
    width: 100%;
    height: 60px;
    background: var(--color6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 0px 5px 1px var(--color1) ;
    z-index: 2;

}
.navbar-container .logo img{
    display: flex;
    width: 60px;
    background: var(--color4);
    border-radius: 40px;
    justify-content: center;
    
}
.navbar-container .items-container{
    display: flex;
    list-style: none;

}
.navbar-container .items-container li a{
    position: relative;
    line-height: 60px;
    margin: 20px;
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
    font-size: 1.1em; 

}


.navbar-container .items-container li a::before,
.navbar-container .items-container li a.active{
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    bottom: -5px;
    background: var(--color3);
    opacity: 0;
    transition: all 0.3s ease;

}
.navbar-container .items-container li a:hover::before,
.navbar-container .items-container li a.active
{
    width: 100%;
    opacity: 1;
    background: var(--color3);
}
.navbar-container .items-container .idiomas{
    width: 100px;
    height: 30px;
    margin: 15px;
    background: var(--color1);
    color: var(--color6);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px -5px;
    
}

.navbar-container .fa-bars{
    display: none;
}
.navbar-container .fa-xmark{
    display: none;
}

@media (max-width: 900px) {

    .navbar-container .fa-bars{
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        margin: 20px;
        font-size: 1.5em;
        color: var(--color1);
        cursor: pointer;
    }
    .navbar-container .fa-xmark{
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        margin: 20px;
        font-size: 1.5em;
        color: var(--color1);
        cursor: pointer;
    }
    .navbar-container .items-container{
        position: absolute;
        width: 300px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 0;
        left: -100%;
        background-color: var(--color1);
        margin: 0;
        padding: 0;
        transition: 0.5s;
        
    
    }
    .navbar-container .items-container li a{
        color: var(--color4); 
    }
    .items-container.active{
        left: 0;

    }

}
@media (max-width: 1025px){
    .navbar-container .items-container .idiomas{
        position: relative;
        right: -50px;
    }
}
@media (max-width: 769px){

}
@media (max-width: 321px){
    .navbar-container .items-container{
        width: 250px;
        height: 600px;
    }
}
