/* contendor */
.home-section{
    width: 100%;
    height: 700px;
    display: flex;
    background-color: #F5F7F8;
    background-image:  radial-gradient(#083358 0.65px, transparent 0.65px), radial-gradient(#083358 0.65px, #F5F7F8 0.65px);
    background-size: 26px 26px;
    background-position: 0 0,13px 13px;
    
    
}
/* textos */
.home-section .home-description{
    position: relative;
    width: 50%;
    height: 500px;
    color: var(--color2);
    margin-left: 150px;
    margin-top: 200px;
}
/* degradado azul */
/* .home-section .home-description::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--color2);
    filter: blur(255px);
    top: 10px;
} */
/* reservas */
.home-description .cita{
    display: flex;
    justify-content: start;
    align-items: center;

}
.home-description .cita p{
    margin-right: 20px;
    font-size: 1.5em;
    color: var(--color1);
    font-weight: bold;
}
.home-description .cita button{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: 4px solid var(--color3);
    background: var(--color3);
    font-size: 1.5em;
    color: var(--color1);
    font-weight: bold;
    cursor: pointer;
      
 }
/* imagen */
.home-section .home-imagen{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home-section .home-imagen img{
    width: 380px;
    height: 500px;
    margin-top: 100px;
    border-radius: 50px;
    z-index: 1;
}




/* ***************responsive **************** */


 @media (max-width:1400px) {
    .home-section .home-description{
      
        margin-left: 100px;
        
    }
 }
 @media (max-width:1100px) {
    .home-section .home-description{
      
        margin-left: 50px;
        
    }
    .home-section .home-imagen img{
        width: 350px;
        height: 450px;
      
    }
 }
 @media (max-width:900px) {
    .home-section{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .home-section .home-description{
        margin: 0;
        width: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-section .home-description p{
       padding: 0 100px;
    }
    .home-section .home-imagen{
        width: 100%;
    }
    .home-section .home-imagen img{
      margin-top: 120px;
      
    }
    
 }
 @media (max-width:769px) {
   
    
    .home-section .home-description p{
       padding: 0 50px;
    }
    .home-section .home-description h1{
        font-size: 1.5em;
     }
     
    
 }  
 @media (max-width:426px) {
   
    
    .home-section .home-description p{
       padding: 0 20px;
       text-align: center;
    }
    .home-section .home-description h1{
        font-size: 1.2em;
     }
     .home-section .home-imagen img{
        width: 280px;
        height: 380px;
      
    }
    /* reservas */
   
    .home-description .cita p{
    margin-right: 20px;
    font-size: 1em;
    
    }   
    .home-description .cita button{
    width: 150px; 
    font-size: 1.2em;
   
      
 }
     
    
 }  
 @media (max-width:321px){
    .home-section{
        height: 900px;
    }
    .home-section .home-imagen img{
        width: 250px;
        height: 300px;
      
    }
    .home-section .home-imagen img{
        margin-top: 0px;
        
      }
      .home-section .home-description h1{
        font-size: 1em;
     }
     .home-section .home-description p{
        font-size: 0.9rem;
     }
 }