/* contendor */
.home-section{
    width: 100%;
    height: 700px;
    display: flex;
    background: var(--color4);   
    position: relative;
    overflow: hidden;
    
}
/* textos */
.home-section .home-description{
    position: relative;
    width: 50%;
    height: 500px;
    color: var(--color2);
    margin-left: 150px;
    margin-top: 100px;
}
.home-section .home-description h1{
    font-size: 3.8em;
    font-weight: 500;
}
.home-section .home-description h1 span{
    color: var(--color3);
}

.home-description .listaDesordena{
    display: flex;
    margin-top: -30px;
    margin-left: -20px;
    gap: 50px;
    position: relative;
    
}
.home-description .listaDesordena::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 150px;
    top: 90px;
    background: var(--color3);
}
.home-description .listaDesordena ul li{
        margin: 30px 0;
        font-size: 1.1em;
        color: var(--color1);
        font-weight: 500;
        list-style: georgian;
}

/* imagen */
.home-section .home-imagen{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.home-section .home-imagen button{
    position: absolute;
    z-index: 1;
    bottom: 110px;
    left: 150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background: var(--color2);
    color: var(--color5);
    cursor: pointer;
}
.home-section .home-imagen img{
    width: 320px;
    height: 400px;
    margin-top: 50px;
    border-radius: 40px;
    z-index: 1;
}
.home-section .home-imagen::before{
    content: "";
    position: absolute;
    width: 140px;
    height: 150px;
    top: 80px;
    right: 10px;
    background: var(--color3);
    clip-path: polygon(50% 0%, 57% 39%, 98% 35%, 60% 49%, 79% 91%, 52% 58%, 21% 91%, 44% 51%, 2% 35%, 46% 41%);
}
.home-section .home-imagen::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 200px;
    left: 10px;
    background: var(--color3);
    clip-path: polygon(50% 0%, 57% 39%, 98% 35%, 60% 49%, 79% 91%, 52% 58%, 21% 91%, 44% 51%, 2% 35%, 46% 41%);
}





/* ***************responsive **************** */


 @media (max-width:1024px) {
    .home-section .home-description{
        margin-top: 80px;
        margin-left: 50px;

    }
    .home-section .home-description h1{
        font-size: 3em; 
    }
    .home-section .home-imagen button{
        bottom: 80px;
        left: 30px;
    }
 }
 @media (max-width:768px) {
    .home-section{
        height: 1100px;
        flex-direction: column-reverse;
        
        
    }
    /* textos */
.home-section .home-description{
    width: 100%;
    margin-left: 50px;
    margin-top: 100px;
}
.home-section .home-description h1{
    font-size: 2em;
    font-weight: 500;
    text-align: start;
    margin-right: 5em;
}
.home-description .listaDesordena{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
    gap: 20px;
    position: relative;
    
}
.home-description .listaDesordena ul li{
    margin: 20px 0;
    font-size: 1em;
    
    
}
 .home-section .home-imagen{
        width: 100%;
          
    }
    .home-section .home-imagen::before{
        width: 140px;
        height: 150px;
        top: 10px;
        right: 30px;
        
    }
    .home-section .home-imagen button{
        bottom: -10px;
        left: 190px;
    }
 }
 @media (max-width:426px){

    .home-section{
        height: 1000px;    
        
    }
    .home-section .home-imagen{
        margin-top: 20px;
          
    }
    .home-section .home-imagen::before{
        display: none;
    }
    .home-section .home-imagen::after{
        display: none;
    }
    .home-section .home-imagen button{
        bottom: -10px;
        left: 30px;
    }
    .home-description .listaDesordena ul{
        padding: 20px 20px 0 20px ;
        margin: 0;
    }
    .home-description .listaDesordena ul li{
        margin: 10px 0;
        font-size: 0.8em;
        margin-right: 4em;
            
    }
    .home-section .home-description h1{
        font-size: 1.7em;
        font-weight: 500;
        text-align: start;
        margin-right: 3em;
        margin-top: -50px;
    }
 }
 @media (max-width:375px){
    .home-section{
        height: 1100px;    
        
    }
 }
 @media (max-width:320px){
    .home-section .home-imagen img{
        width: 280px;
        height: 350px;
       
    }
    .home-description {
        padding: 0;
    }
    .home-section .home-description h1{
        font-size: 2em;
        font-weight: 500;
        text-align: start;
        margin-right: 2em;
        margin-left: -1em;
        margin-top: -20px;
    }
 }
