@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
*{

  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  font-style: normal; 
}
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --color1: #083358 ;
  --color2: #0F4471;
  --color3: #FC3C3C;
  --color4: #F5F7F8;
  --color5: #F3F8FF;
  --color6: #F5F5F5;
  --color7: #000000;
}